body {
  margin: 10px;
}

table {
  border-collapse: collapse;
  background-color: white;
}

td {
  padding: 10px;
}

tr {
  border-top: 1px solid #c4dcf3;
}

tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

thead,
tfoot {
  background-color: #427fef;
  color: white;
  font-weight: bold;
}

#square {
  margin: 20px;
  width: 400px;
  height: 400px;
  background: tomato;
  box-shadow: 10px 10px lightgrey;
  border-radius: 10px;
}

#container {
  padding: 50px;
}
